body{
	align-content: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 900px;
	margin: auto;
}

a:link{
	color: black;
}
a:visited{
	color: black;
}
a:hover{
	color:aquamarine;
}
a:active{
	color: aquamarine;
}

.nav{
	display: flex;
	flex-direction: row;
	font-size:x-large;
	gap: 10px;
	height: fit-content;
	padding: 1%;
	background-color: #a1a1a1;
	font-size: larger;
}
.content{
	display: flex;
	padding-top: 10px;
	padding-left: 90px;
	flex-direction: column;
	margin:	auto;
}

.code {
	background-color: gray; 
	color: blue; 
}